NVIDIA_API_KEY='tua_chave_aqui'
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1

CHAT_MODEL=meta/llama-3.2-1b-instruct # Você que escolhe
EMBEDDING_MODEL=nvidia/nv-embedqa-e5-v5 # Você que escolhe

PORT=3001
NODE_ENV=development
RAG_SPLITTING_STRATEGY='default' # Opções alternativas: largeContext & granular

DATABASE_URL='postgresql://usuario:senha@endereco:porta/nome_db'

SYSTEM_PROMPT='Prompt base do agente' # Use \n para quebra de linha, evite usar "Enter" aqui